/* Файл: /assets/css/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
	padding: 0;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.register-link {
    margin-top: 15px;
    display: block;
    color: #007bff;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-bottom: 20px;
}
.registration-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.email-field {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}

.email-field input {
    border: none;
    padding: 5px;
    flex-grow: 1;
    font-size: 14px;
}

.email-field input:focus {
    outline: none;
}

.email-domain {
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 14px;
    color: #4CAF50;
    border-left: 1px solid #ccc;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Стили для ошибок */
.error-message {
    color: red;
    margin-bottom: 10px;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: CCCCCC;
    padding-top: 20px;
}

/* Стили ссылок в боковой панели */
.sidebar h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* Эффект при наведении на ссылки */
.sidebar a:hover {
    background-color: #575757;
    padding-left: 25px;
}

/* Стили основного контента */
.content {
    margin-left: 50px; /* отступ для учета ширины боковой панели */
    padding: 240px;
    height: 100vh; /* Высота на всю страницу */
    background-color: #f4f4f4;
}

/* Стили для сообщений */
.message {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}
/* Стили для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Окно фиксируется на экране */
    z-index: 1; /* Располагаем окно поверх остальных элементов */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Центрируем окно по вертикали */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Ширина окна */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для формы */
#messageForm {
    display: flex;
    flex-direction: column;
}

#messageForm label {
    margin-top: 10px;
}

#messageForm textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}
